[LOCALE]
# keep empty to get system locale, use 'locale -a' on your system to list locales
USER_LOCALE =



[HEADER]
# Prompt
#######
# date format in rofi prompt
PROMT_DATE_FORMAT = %b %Y

# Head message
##############
#  Show a strftime and pango markup formated string in rofi #message box

#  Set value to False to hide it
IS_TODAY_HEAD_MSG = True

# Make message update at each date change
IS_LOOP_TODAY_HEAD_MSG = False

# The message could contain strftime directives
# You can use pango markup langage, see `<https://developer.gnome.org/pango/stable/pango-Markup.html>`_
# common properties :
#   size : 'xx-small', 'x-small', 'small', 'medium', 'large', 'x-large', 'xx-large'
#   rise : vertical displacement from the baseline, in ten thousandths of an em
#
# To insert a new line use the following character : &#x0a;
#
# Examples :
# without pango:
#    TODAY_HEAD_MSG_TXT = %d %A
# 
# with pango markup:
#    TODAY_HEAD_MSG_TXT = <span rise="0" size="xx-large">%d</span> &#x0a;<span rise="12000" size="small">%A</span>
#
TODAY_HEAD_MSG_TXT = <span size="medium">%b %Y</span>&#x0a;<span size="xx-large">%d</span> <span rise="12000" size="small">%A</span>



[DAY NAMES]
# Set format of day name abbreviations
# day name lenght
DAY_ABBR_LENGHT = 3
# 0 = sunday, 1 = monday...
FIRST_DAY_WEEK = 1



[CONTROL]
# Symbols to navigate between months and years
# 1st symbol is displayed, others are simply shortcuts to enter in rofi prompt
SYM_NEXT_MONTH =  ▶,  >,  +,  n
SYM_NEXT_YEAR =  ▶▶, >>, ++, nn
SYM_PREV_MONTH =  ◀,  <,  -,  p
SYM_PREV_YEAR =  ◀◀, <<, --, pp



[CONTENT]

# Rows
######
# Row number where to display symbols (see Symbols in this section)
# rows count start at 0
# keep empty to desactivate the row display

# row number where to display calendar first line, see [DAYS] section
ROW_WEEK_SYM = 0
# row number where day numbers display start
# next row start at ROW_CAL_START + 6 (6 weeks)
ROW_CAL_START = 1
# row number where to display the "control row", see [CONTROL] section
ROW_CONTROL_MENU = 7
# additionnal row, used to display shortcuts buttons, see [SHORTCUTS] section
ROW_SHORTCUTS =


# Please make ROW number match calendar *-lines* parameter in rasi theme file 
# Just count 1 line for each activated ROW_* except ROW_CAL_START that count for 6 (6 week per month)
#
# Go further :
# given number is used for row relative position and highligthing 
# if your calendar shape is good but a wrong row seems to be higlighted, please re-check positions 
 

# Symbols
#########
# Keep empty to get defaut values, fill with value to force a content
#
# Please put many values as number of columns in the calendar
# except for SYMS_DAYS_NUM, that need at least 31 values
#
# Next varaibles names represents a "conventionnal" use case,
# but any symbol can be set to any row, for example, to merge
# control row and shortcuts row : ◀◀, ◀,_ , ,_ , ▶, ▶▶

# SYMS_WEEK_DAYS contains day names (usally abbreviation) header to display
# SYMS_WEEK_DAYS default is set using locale (see [DAY NAMES] section)
# but can be override, for example, with :
# SYMS_WEEK_DAYS = Mon, Tue, Wed, Thu, Fri, Sat, Sun
# /!\ don't forget to set "first day of the week" (see [DAY NAMES] section
SYMS_WEEK_DAYS =

# SYMS_DAYS_NUM = 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31
SYMS_DAYS_NUM =

# Content of the control bar and shortcuts bar can be filled with
# firsts symbol of lists in [SHORTCUTS] section or [CONTROL] section
# any other symbol will be displayed as it is (for decoration).
#
# Just put corresponding id in next list to fill calendar with symbols
# /!\ don't forget to activate the row (see ROW_* variables in above in this section)
# otherwise it won't be displayed
#
# ID table :
# ================== ===============
#  Action             id
# ================== ===============
# SYM_NEXT_MONTH      pp
# SYM_NEXT_YEAR       p
# SYM_PREV_MONTH      n
# SYM_PREV_YEAR       nn
# SYM_SHOW_HELP       h
# SYM_SWITCH_THEME    t
# SYM_SHOW_EVENTS     e
# SYM_SWITCH_EVENT    s
# SYM_SHOW_MENU       m
# SYM_GO_TODAY        bb
# ================== ===============
#
#SYMS_CONTROL_MENU = pp, p,  , m,  , n, nn
SYMS_CONTROL_MENU = pp, p,  , m,  , n, nn

#SYMS_SHORTCUTS = h, t, s, e,  ,  , m
SYMS_SHORTCUTS =



[EVENTS]
# "Events" are files created by the calendar
# The user can create one by interacting with a day number (i.e. press enter for example)
# A day with a linked note will appear colored
#
# Events are stored in a folder (specified below)
# Multiples folder can be created (work, personnal, birthdays...)
# Only one is displayed at a time, but you can easily switch between them
# Folders are relative to $HOME
#
# Files name are strftime formatted strings (date.strftime('%d-%b-%y') --> 10-Jan-2021)
# Note name strftime format should contains at least the %d directive 
# (otherwise every days in the month will open same note)
#
# Name without specified month (or year) directive, will induce a reccurent event.
# Check strftime directives at https://strftime.org/
#
# To add a new folder, add an entry in this [EVENTS] Section with the following format:
#
# <EVENT TYPE> = <relative/folder/path> / <string with strftime directives> . <extension>
# for example :
#    NOTES     = .naivecalendar_notes   /       my_notes_%Y-%m-%d           .     txt
#

Notes = .naivecalendar_events/MyNotes/note_%Y-%m-%d.txt

Birthday = .naivecalendar_events/Birthdays/birthday_on_%d-%m.txt

# Here is a more exentric example
# BIRTHDAYS = Documents/Birthdays/birthday_on_%a-%A-%w-%d-%-d-%b-%B-%m%-m-%y-%Y-%j-%-j-%H-%-H.txt



[SHORTCUTS]
# those are shortcuts to open popup windows
# It's not mandatory but
#  - first symbols to display on the calendar (see [CONTENT] section)
#  - last is a more descriptive sentence to be selected in rofi popup
#  - others are just shortcuts to be enter in rofi prompt

# Display a simple help message
SYM_SHOW_HELP = , help, hh,   display help
# Change calendar theme for one in theme folder
SYM_SWITCH_THEME = , theme, tt,  switch theme
# show events of the current month
SYM_SHOW_EVENTS = , event, ee,  show month events
# Switch to another "event" folder (see [EVENTS] section above)
SYM_SWITCH_EVENT = , switch, ss,  switch event type
# Popup that display all these shortcuts options
SYM_SHOW_MENU = ☰ , menu, mm, ☰ show this menu
# Factice event (just continue programm loop)
SYM_BACK_TO_CALENDAR = ,  back to calendar
# Go back to current date
SYM_GO_TODAY = , bb,  back to current month




