/************************************************
 * ROFI Color theme
 * User: Daguhh
 * Copyright: 2020 Daguhh
 ***********************************************/

@import "common/theme_dark.rasi"
@import "common/position.rasi"

#window {
    width:                  200px;
}
#listview {
    spacing:      1px;
    columns:      7;
    lines:        8;
}
#element {
    padding: 2px 0px 0px ;
}
