/******************************************************************************
 * ROFI Color theme
 * User: Daguhh
 * Copyright: Dave Davenport
 * Adapted by Daguhh
 ******************************************************************************/

@import "common/theme_retro_blue.rasi"
@import "common/position.rasi"
@import "common/shape_compact.rasi"
