/************************************************
 * ROFI Color theme
 * User: Daguhh
 * Copyright: 2020 Daguhh
 * Inspired by nordtheme
 ***********************************************/

@import "common/theme_nord_light.rasi"
@import "common/position.rasi"
@import "common/shape_round.rasi"

